<%- include('partials/header') %>
<div class="container">
	<div class="row">
	 <h2 style="text-align : center">Add a new campgrounds</h2>
		<div style="margin: 40px auto; width: 30%">
			<form action="/campgrounds" method="POST">
				<input class="form-control form-group" type="text" name="name" placeholder="name">
				<input class="form-control form-group" type="text" name="image" placeholder="image">
				<input class="form-control form-group" type="text" name="description" placeholder="description">
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">submit</button>
				</div>
				<a href="/campgrounds">Go back</a>
			</form>
		</div>
	</div>
</div>


<%- include('partials/footer') %>